:root {
  --dark-mode-background:  #212529 ;
  --dark-mode-screen-background: #343a40;
  --dark-mode-screen: hsla(208, 6%, 40%, 0.8);
  --dark-mode-btn-hover: #aeb5bbcc;
  --dark-mode-btn-text: #f8f9fa;

  --light-mode-screen-background: #c9d2db;
  --light-mode-background: #f8f9fa ;
  --light-mode-screen: #c9cfd4;
  --light-mode-btn-text:  #212529 ;

  --font: font-family: 'Roboto Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 30vh;
  background-color: var(--dark-mode-screen-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

header #screen-container {
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-mode-screen);
  color: var(--dark-mode-btn-text);
  border-radius: 8px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24pt;
}

main {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-mode-background);
}

main .menu {
  width: 90%;
  height: 5%;
  background-color: var(--dark-mode-background);
  
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  gap: 2%;
}

main .menu .btn-keyboard {
  width: 100%;
  height: 100%;
  margin-top: 5%;
  background-color: var(--dark-mode-background);
  border: 1px;
  border-style: solid;
  color: var(--dark-mode-btn-text);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18pt;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

main .keyboard {
  width: 90%;
  height: 90%;
  margin-top: 5%;
  background-color: var(--dark-mode-background);
  
  display: grid;
  
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  gap: 2%;
}

main .keyboard .btn-keyboard {
  width: 90%;
  height: 100%;
  background-color: var(--dark-mode-background);
  border: 1px;
  border-style: solid;
  border-radius: 8px;
  color: var(--dark-mode-btn-text);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18pt;

  transition: 1000ms;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

main .keyboard .btn-keyboard:hover {
  background-color: var(--dark-mode-btn-hover);
}
